$primaryColor: #FFFFFF;
$menuColor: #3E4D63;
$about: #9FD3E0;
$education: #6B9AA5;
$skills: #3C5C69;
$projects: #D7B089;
$contact: #A78570;


$defaultFont:'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;

$gutter: 16px;

/*6A7A90*/
